@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model ExploreCalifornia.Models.Special

@{
    Layout = "_Layout";
}

<h1>Edit Special</h1>

<fieldset>
    <form asp-action="Edit" asp-controller="Special">

        <div asp-validation-summary="All" class="input-validation-error"></div>

        <p>
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" placeholder="Special name" />
            <span asp-validation-for="Name"></span>
        </p>

        <p>
            <label asp-for="Type"></label>
            <input asp-for="Type" class="form-control" placeholder="Special type" />
            <span asp-validation-for="Type"></span>
        </p>
        <p>
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" placeholder="Special price" />
            <span asp-validation-for="Price"></span>
        </p>

        <p>
            <label asp-for="Key"></label>
            <input asp-for="Key" class="form-control" placeholder="Key" />
            <span asp-validation-for="Key"></span>
        </p>
        <p>
            <button type="submit">Update Special</button>
        </p>
    </form>
</fieldset>