@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model string

@{
    Layout = "_Layout";
}

<h1>Upload Image</h1>
<form method="post" asp-action="UploadImage" asp-controller="Special" enctype="multipart/form-data">
    <p>
        <label for="image-upload">Image</label>
        <input type="file" name="image" id="image-upload" />
    </p>
    <button type="submit">Upload</button>
</form>
